p{
    font-size: smaller;
}

.field {
    margin: 10px auto;
    width: 200px;
    height: 200px;
}
.cell {
    background-color: white;
    border: 1px solid #EA0A0A;
    float: left;
    width: 32%;
    height: 32%;
}
.cell:hover {

    box-shadow:2px 2px 20px 5px #EE1B22 inset;
}