.description{
    width: 100%;
}
.content{
    width: 100%;
}
.field {
    margin: 20px auto;
    width: 70vw;
    height: 70vw;
}
.cell {
    border: 1px solid #EA0A0A;
}
.cell:hover {

    box-shadow:2px 2px 20px 5px #EE1B22 inset;
}
