* {
    box-sizing: border-box;
}

.actions {
    text-align: center;
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}
h1, h3{
    color: #EA0A0A;
    text-shadow: 1px 1px 2px black, 0 0 0.2em red;
}
p{
    font-weight: bold;
    color: #EA0A0A;
    text-shadow: 1px 1px 1px black;
}

.description{
    float: left;
    width: 30%;
    text-align: center;
    padding-left: 15px;
}
.content{
    float: left;
    width: 70%;

}
.field {
    margin: 50px auto;
    width: 400px;
    height: 400px;
}

.cell {
    background-color: white;
    border: 3px solid #EA0A0A;
    float: left;
    width:33.33%;
    height: 33.33%;
}
.cell:hover {

    box-shadow:5px 5px 40px 15px #EE1B22 inset;
}
.ai {
    background-image: url('./img/ai.jpg');
    background-size: 100%;
}
.ai:hover{
    box-shadow: none;
}
.player {
    background-image: url('./img/player.jpg');
    background-size: 100%;
}
.player:hover{
    box-shadow: none;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #808080;
    color: #fff;
    width: 100%;
    text-align:center;
    font-size:0.8em;
}
